services:
  mysql:
    image: mysql:8.4.7
    environment:
      MYSQL_ROOT_PASSWORD: "sverige8"
    ports:
      - "25060:3306"
    volumes:
      - dev-data:/var/lib/mysql
    restart: unless-stopped

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped

  stripe:
    image: stripe/stripe-cli:v1.34.0
    environment:
      STRIPE_DEVICE_NAME: docker
    command: listen --forward-to api:3333/stripe/webhook/clover/
    restart: unless-stopped
    depends_on:
      - api

  mail:
    image: axllent/mailpit
    volumes:
      - ./data:/data
    ports:
      - "8025:8025"
      - "1025:1025"
    restart: unless-stopped
    environment:
      MP_MAX_MESSAGES: 500
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    entrypoint: /scripts/start.sh
    environment:
      DJANGO_ENV: "docker"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
      - "5001:5001"
    depends_on:
      - mysql
      - redis

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile.dev
    volumes:
      - ./apps/api/src:/app/apps/api/src
    ports:
      - "3333:3333"
    env_file:
      - ./apps/api/.env.development
    environment:
      - NODE_ENV=development
    depends_on:
      - mysql
    restart: unless-stopped

  web-admin:
    build:
      context: .
      dockerfile: apps/web/Dockerfile.dev
    volumes:
      - ./apps/web/app:/app/apps/web/app
      - ./apps/web/components:/app/apps/web/components
      - ./apps/web/lib:/app/apps/web/lib
      - ./apps/web/types:/app/apps/web/types
    ports:
      - "3100:3300"
    env_file:
      - ./apps/web/.env.development
    depends_on:
      - api
    restart: unless-stopped

  public:
    build:
      context: .
      dockerfile: apps/public/Dockerfile
    volumes:
      - ./apps/public/src:/app/apps/public/src
    ports:
      - "3000:3000"
    env_file:
      - ./apps/public/.env.development
    environment:
      - NODE_ENV=development
    depends_on:
      - backend

volumes:
  dev-data:
    external: true
    name: bhmc-api_dev-data
