.calendar-wrap {
	position: relative;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	header {
		height: 180px;
		background-image: url("../img/ThreeNorthTee.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		position: relative;

		.month-title {
			font-size: 1.8em;
			font-weight: bold;
			color: $white;
			text-align: center;
			height: 50px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.month-nav {
			margin-top: 0.5rem;
		}
	}
	span {
		margin: 20px;
		cursor: pointer;
	}
}

.calendar {
	width: 100%;
	.date {
		text-align: right;
		margin-bottom: 0.75rem;
		width: 20px;
		float: right;
	}
	a {
		color: $white;
		text-decoration: none;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;

		li {
			display: block;
			float: left;
			width: 14.3425%;
			padding: 5px;
			box-sizing: border-box;
			border: 1px solid $gray-200;
			margin-right: -1px;
			margin-bottom: -1px;
		}
		&.weekdays {
			height: 40px;
			background-color: $info;

			li {
				text-align: center;
				text-transform: uppercase;
				line-height: 20px;
				border: none !important;
				padding: 10px 6px;
				color: $white;
				font-size: 13px;
			}
		}
		&.days li {
			height: 150px;
			background-color: $gray-100;
		}
	}
}

.calendar-event {
	clear: both;
	position: relative;
	display: block;
	font-size: 0.8rem;
	padding: 0.4rem;
	margin-bottom: 0.3rem;
	line-height: 1.2rem;
	color: $white;
	text-decoration: none;
	border-radius: 4px;

	&.deadline {
		background-color: $danger;
	}
	&.weeknight-event {
		background-color: $success;
	}
	&.weekend-major {
		background-color: $primary;
	}
	&.open-event {
		background-color: $info;
	}
	&.meeting {
		color: tint-color($info, 20%);
	}
	&.external-event {
		background-color: $dark-bg-subtle;
	}
	&.invitational {
		background-color: $green;
	}
	&.other {
		background-color: tint-color($primary, 25%);
	}
	&.season-registration {
		background-color: $success;
	}
	&.season-long {
		background-color: $success;
	}

	a {
		text-decoration: none;
	}
	p {
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.today {
	background-color: tint-color($info, 50%) !important;
}

.other-month {
	background-color: tint-color($dark, 50%) !important;
}

a.month-nav {
	text-decoration: none;
	color: $white;
	font-weight: bold;
}

/* ============================
    Mobile Responsiveness
============================*/
@include media-breakpoint-only(xs) {
	.calendar {
		.date {
			float: none;
			text-align: left;
			width: 100%;
			margin-bottom: 1rem;
		}
		ul {
			li {
				height: auto !important;
				border: 1px solid $gray-100;
				width: 100%;
				padding: 10px;
				margin-bottom: -1px;
			}
			&.weekdays {
				display: none;
			}
		}
	}
	.other-month {
		display: none !important;
	}
}
