.document-detail {
	border: 1px solid $info-bg-subtle;
	display: flex;
	align-items: center;
	padding: 1rem;
	margin: 1rem 0;
	min-width: 240px;
	max-width: 420px;
	overflow: hidden;
}

.document-title {
	margin-bottom: 0.25rem;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.document-date {
	margin-bottom: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.static-document-detail {
	position: relative;
	padding: 0;
	margin: 0;
	min-width: 240px;
	max-width: 420px;
	overflow: hidden;
}

.col {
	> h6 {
		color: tint-color($primary, 40%);
	}
}
