.photos {
	margin: 0 -3px 1px;
}

.photos__item {
	padding: 3px;
	position: relative;
	cursor: pointer;

	&:before {
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		position: absolute;
		left: 15px;
		top: 15px;
		z-index: 1;
		content: "";
		background-color: rgba($white, 0.35);
		opacity: 0;
		transition: opacity 300ms;
		pointer-events: none;
	}

	&:hover {
		&:before {
			opacity: 1;
		}
	}

	img {
		border-radius: $border-radius;
		width: 100%;
	}
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

.photo-display {
	max-height: 300px;
	max-width: 400px;
	margin: 10px;
	text-align: center;
	position: relative;

	> img {
		max-width: 100%;
		max-height: 240px;
		object-fit: contain;
		position: relative;
	}
}

.photo-upload {
	padding: 2px;
	border: 0;
	cursor: pointer;
	color: $gray-400;
	background-color: transparent;
	font-size: 1.2rem;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	&:hover {
		background-color: $gray-100;
		color: $green;
	}
}

.random-photo {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: block;
		padding: 10px;
	}
}

ul.tag-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline;
		padding-right: 5px;
	}
}

a.tag-remover {
	color: $white;
}

.tag {
	display: inline-block;
	background-color: $info;
	color: $white;
}

.thumb-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 16px;
}

.thumb {
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
	width: 100%;
	padding: 4px;
}

.thumb-inner {
	max-width: 240px;
	max-height: 240px;
	overflow: hidden;
}

.thumb-preview {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
