.scores {
	flex: 2;
	display: flex;

	& div {
		border: solid $gray-400 1px;
		height: 30px;
		width: 30px;
		max-width: 30px;
		text-align: center;
		color: $black;
		padding-top: 4px;
		font-size: 0.9rem;
	}
}
.hole-numbers {
	flex: 2;
	display: flex;
	& div {
		text-align: center;
		width: 30px;
		max-width: 30px;
		color: $black;
		font-weight: 600;
	}
}
.par {
	background-color: $white;
}
.birdie {
	background-color: #90ee90;
}
.eagle {
	background-color: #00bfff;
}
.double-eagle {
	background-color: #9932cc;
}
.bogey {
	background-color: #ffe4c4;
}
.double-bogey {
	background-color: #deb887;
}
.other {
	background-color: #b8860b;
}
.below-par {
	color: $red !important;
}
.above-par {
	color: $black !important;
}
.total {
	font-weight: 600;
	width: 36px !important;
	max-width: 36px !important;
}

.scores-header {
	color: $white;
	font-weight: 600;
	font-size: 1.2rem;
	padding-left: 2rem;
}

.bg-east {
	background-color: $red !important;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.bg-east-pale {
	background-color: rgb(255, 107, 104, 0.5) !important;
}
.bg-north {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: $blue !important;
}
.bg-north-pale {
	background-color: rgb(33, 150, 243, 0.5);
}
.bg-west {
	background-color: $yellow !important;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.bg-west-pale {
	background-color: rgb(255, 199, 33, 0.5);
}

@media only screen and (max-width: 480px) {
	.round {
		font-size: 0.8em;
	}
	.scores {
		flex: 3;
		display: flex;

		& div {
			font-size: 0.8em;
			border: solid $gray-400 1px;
			height: 22px;
			width: 24px;
			max-width: 24px;
			text-align: center;
			color: $black;
			padding-top: 0;
			font-weight: 400;
		}
	}
	.hole-numbers {
		flex: 3;
		display: flex;
		& div {
			text-align: center;
			width: 24px;
			max-width: 24px;
			color: $black;
			font-weight: 600;
		}
	}
	.total {
		font-weight: 600;
		width: 32 !important;
		max-width: 32px !important;
	}
}
